{% extends 'software/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-content-center">
    <div class="row border border-primary rounded m-3 p-3">
        <h3>
            Вы точно хотите удалить {{ object.title }}?
        </h3>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="form-group">
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary btn-lg" value="Подтвердить">
        </form>
    </div>
</div>
{% endblock %}